.background{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMvHFhNnMfyhZrz8vkkVA1XkaJojTp7OUw4QYA4enWgg&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: fadeInUp 0.5s ease-in-out;
}
.card {
  animation: fadeInUp 0.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  
}
