.background{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMvHFhNnMfyhZrz8vkkVA1XkaJojTp7OUw4QYA4enWgg&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}